@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Work+Sans:ital,wght@0,400;0,800;1,500&display=swap');

html,body {
    font-family: 'Raleway', sans-serif;
    padding: 1em 2em;
    font-size: 18px;
  }
  
  h1,h2 {
    font-weight: 200;
    margin: 0.4em 0;
    position: relative;
  }

  h1 { 
    font-size: 3.5em;
    color: black; 
    text-align: center;
    position:relative;
  }
    

  .intro{
      top:100px;
      position:relative;
  }

#profile_pic{
    position:flex;
    max-height:60%px;
    top: 150px;
    left: 450px;
    width:30%;
    box-shadow: 10px 10px 5px rgb(224,224,224);
    text-align: center;
    
}

.intro{
  font-size: 13px;
}

.float-right{
    max-height:400px;
    width:300px;
}

.second_part{
  margin-top:50px;
}

.third_part{
  margin-top:10px;
}

p{
  text-align: center;
}

#About_Me{
  text-align: center;
}

#Skills{
  text-align: center;
}

.carousel{
  text-align: center;
  padding: 20px;
}

.other_anchors{
  background-color: white;
}

#id{
  color: grey;
  background-color: rgba(0, 0, 0, 0.1);
}


.carousel-control-next-icon{
  background-color:black;
  width: 15%;
}

.carousel-control-prev-icon{
  background-color:black;
  width: 15%;
}

.beginning{
  position: relative;
}

.one{
  padding-top: 175px;
}

.text-center{
  text-align: center;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* Social Media */

.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.footer{
  text-align: center;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

a {
 background-color: #D3D3D3;   
}

.icons{
  padding-top:10px;
}







